@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  overflow-x: hidden!important;
}



/*  */

  /* 初期状態でのフェードインアニメーション */
  @keyframes FadeIn {
    from {
      opacity: 0; /* 初期状態では透明 */
      transform: translateX(100%); /* 右に移動 */
    }
    to {
      opacity: 1; /* 最終状態では不透明 */
      transform: translateX(0); /* 元の位置 */
    }
  }

  .Headline {
    animation: FadeIn 1.6s ease forwards; /* フェードインアニメーションの設定 */
  }

  /* 上からのフェードイン */
  /* --------------------------------------------------------- */
  @keyframes fadeInFromTop {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-from-top {
    opacity: 0; /* 初期状態で透明にする */
    animation: fadeInFromTop 1s ease forwards; /* アニメーションを適用 */
  }
  /* ------------------------------------------------------ */





  /*------- ブログ---------- */
  .custom-text {
    color: black;
    font-size: 20px;
  }
  .custom-text:hover {
    color: white;
  }
  /* -------------------- */




  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  /* スマホの時 */
  @media screen and (max-width: 499px) {

    body {
      min-height: 100vh !important;
      /* height: 100vh!important; */
      font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
      background: linear-gradient(-45deg, #a535b1,#bd4ec9,#8cb2e2,#8d4dc9,#7535b1);
      background-size: 200% 200%!important;
      animation: bodyColor 8s ease infinite!important;
  }


    .pcTitle{
      display: none;
      }

    .titlePhon{
      font-size: 33px!important;
      color: black;
      text-align: center;
      display: flex;
      justify-content: center;
      /* line-height: 70vh; */
      height: 10vh; /* 必要に応じて調整 */
    }


    .contentsBlock{
      height:500px;
      width: 100%!important;
      justify-content: center; /* 横方向に中央揃え */
      align-items: center; /* 縦方向に中央揃え */
      margin-bottom: 200px;
      background-color: rgba(255, 255, 255, 0.3); /* 透明の背景色 */
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px); /* ぼかしの適用 */
      opacity: 0.2;
      background-size: cover;
    }

    header{
      display: none!important;
    }

    .skills{
      height: 800px!important;
    }
    .skill-tab{
      margin-bottom: 10px !important;
      font-size: 10px !important;
    }


    .contentsBlockBlog{
      width: 100%!important;
      justify-content: center; /* 横方向に中央揃え */
      align-items: center; /* 縦方向に中央揃え */
      /* margin: 0 auto; */
      margin-bottom: 200px;

      background-color: rgba(255, 255, 255, 0.3); /* 透明の背景色 */
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px); /* ぼかしの適用 */
      /* background-image: url('skills.jpg'); */
      opacity: 0.2;
      background-size: cover;
    }


    .back-btn{
      font-size: 15px!important;
    }
    .divBtn{
      margin-left: 0%!important;
    }

  /* アバウトミー */

  .aboutMeTitl{
    font-size: 33px!important;
  }

  .aboutMe{
      height: 650px!important;
    }
  .aboutMeContents{
      margin-left: 5%!important;
    }
    /* //自己紹介」 */
    .aboutMeP{
      width: 95%!important;
    }

    #myPro{
      width: 60% !important;
      margin-top: 10% !important;
    }


    /* 経歴 */
    .cv-sec{
      margin-top: 100%;
    }
    .cv-title{
      margin-bottom: -20%!important;
      margin-left: 5%!important;
      text-align: left;
      font-size: 33px!important;
    }


  /* スキル */
  .skillblock{
    margin-left: 0%;
  }

  .skillTitle{
    font-size: 33px!important;
    text-align: left!important;
    margin-left: 10px!important;
    border-bottom: 1px solid black;
  }
  /* スキルラベル */
  .skill-l{
    font-size: 20px!important;
    margin-top: 10px!important;
    width: 130px!important;
    height:30px!important;
  }
  .scand-g{
   margin-top: -50px;
  }

  .myChart{
    margin-top: -70%!important;
    margin-bottom: 30%!important;
  }


  /* ブログ */
  .blogBlock{
    margin-bottom: 10%;
  }
  .blogcontents{
    width: 100%;
    margin-left: -30%;
  }

 .fontphon{
  font-size: 18px!important;
 }


  }

  /* スマホじゃないとき */
  @media screen and (min-width: 499px) {

    body {
      min-height: 100vh !important;
      /* height: 100vh!important; */
      font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
      background: linear-gradient(-45deg, #a535b1,#bd4ec9,#8cb2e2,#8d4dc9,#7535b1);
      background-size: 300% 300%!important;
      animation: bodyColor 12s ease infinite!important;
  }

    .divTitlePhon{
      display:none!important;
    }
    .AboutMe{
      display: flex;
      margin-bottom: 200px;
    }
    .aboutMeContents{
      margin-left: 30%!important;
    }

    .cv-title{
      margin-bottom: -7%!important;
    }

    .skillblock{
      display:flex!important;
      margin-left: 20%!important;
    }

    /* ブログ */
    .blogBlock{
      display: flex;
      width: 100%;
      align-items: flex-start;
      margin-bottom: 10%;
    }

    .blogcontents{
      width: 60%;
    }


  }







  #path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: draw 5s ease forwards;
  }



@keyframes bodyColor {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  .contentsBlock{
    height:500px;
    width: 70%;
    justify-content: center; /* 横方向に中央揃え */
    align-items: center; /* 縦方向に中央揃え */
    margin-bottom: 200px;
    background-color: rgba(255, 255, 255, 0.3); /* 透明の背景色 */
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px); /* ぼかしの適用 */
    opacity: 0.2;
    background-size: cover;
  }

  /* ブログ用 */
  .contentsBlockBlog{
    width: 70%;
    justify-content: center; /* 横方向に中央揃え */
    align-items: center; /* 縦方向に中央揃え */
    /* margin: 0 auto; */
    margin-bottom: 200px;

    background-color: rgba(255, 255, 255, 0.3); /* 透明の背景色 */
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px); /* ぼかしの適用 */
    /* background-image: url('skills.jpg'); */
    opacity: 0.2;
    background-size: cover;
  }

  /* ボタンの親div */
  .divBtn{
    width: 70%;
  }


  .blogTitle{
    text-align: center; /* 縦方向に中央揃え */
    justify-content: center; /* 横方向に中央揃え */
    align-items: center; /* 縦方向に中央揃え */
  }


  a{
    cursor: default;
  }
  @media screen and (max-width: 700px) {

  }

  h1{
    font-size: 50px!important;
    z-index: 4;
    }

  p{
    font-size: 21px;
  }

  .title{
    font-size: 50px;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 70vh; /* 必要に応じて調整 */
  }


  .background-container {
    /* background-image: url('back.jpg'); */
    background-size: cover;
    min-height: 100vh!important;
    margin:0px;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 背景画像を固定 */
  }
  .smoke-background {
    /* グラデーションを設定して背景に適用 */
    background: linear-gradient(to bottom, rgba(240, 240, 240, 0.5), rgba(255, 255, 255, 1));
    /* 煙のような透明度の調整 */
    opacity: 0.9;
    /* 他のスタイル */
    height: 100vh; /* 画面全体に広がる高さ */
    width: 100%; /* 画面全体に広がる幅 */
  }


  .backImg{
    /* background-image: url('skills.jpg'); */
    opacity: 0.2;
    background-size: cover;
  }



  @keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
  #overlay-button {
    /* position: absolute; */
    position: fixed;
    right: 2em;
    top: 3em;
    padding: 26px 11px;
    z-index: 99!important;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
  }
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
  }
  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background: #fff;
    /* background: hsl(0, 59%, 20%); */
  }

  input[type=checkbox] {
    display: none;

  }

  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }

  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;


  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);

  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);


  }

  #overlay {
    height: 100vh;
    width: 100vw;
    background: #7656d8;
    z-index: 5;
    visibility: hidden;
    position: fixed;
  }
  #overlay.active {

  }
  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }
  #overlay ul li {
    padding: 1em;
  }
  #overlay ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
  }
  #overlay ul li a:hover {
    color: #000!important;
  }
